.center {
  display: flex;
  justify-content: center;
}
.confirmContainer {
  position: relative;

  margin: 10px;

  width: 364px;
  height: 168px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

#confirmText1 {
  position: relative;
  width: 242px;
  height: 32px;
  top: -130px;
  left: 130px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

#confirmText2 {
  position: relative;
  width: 174px;
  height: 24px;
  top: -120px;
  left: 160px;
  text-align: center;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 18px;

  letter-spacing: -0.01px;

  color: #4c983e;
}

#vector {
  margin: 15px;
}

.storeImg1 {
  position: relative;
  border-radius: 25%;
  object-fit: contain;
  bottom: -20px;
  left: -70px;

  width: 8rem;
  height: 8rem;

  z-index: 1;
}

.logoImg1 {
  position: relative;
  left: -30px;
  top: -80px;
  width: 83px;
  height: 83px;
  z-index: 2;
}

.confirmImg1 {
  position: relative;
  top: -135px;
  left: 340px;
  width: 40px;
  height: 40px;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

.textDone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin-top: 20px;
}

#textTack {
  width: 266px;
  height: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 18px;

  text-align: center;
  letter-spacing: -0.01px;

  color: #4c983e;
}

#textFrom {
  width: 364px;
  height: 60px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;

  text-align: center;

  color: #000000;
}

#textStacken {
  width: 364px;
  height: 100px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 18px;

  text-align: center;

  color: #000000;
}

.start {
  width: 292px;
  height: 57px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  letter-spacing: -0.01px;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: #4c983e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media screen and (max-width: 895px) {
  .center {
    display: flex;
    justify-content: center;
  }
  .confirmContainer {
    position: relative;
    margin: 10px;
    width: 364px;
    height: 168px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
  }

  #confirmText1 {
    position: relative;
    width: 242px;
    height: 32px;
    top: -130px;
    left: 130px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #000000;
  }

  #confirmText2 {
    position: relative;
    width: 174px;
    height: 24px;
    top: -120px;
    left: 160px;
    text-align: center;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 18px;

    letter-spacing: -0.01px;

    color: #4c983e;
  }

  #vector {
    margin: 15px;
  }

  .storeImg1 {
    position: relative;
    border-radius: 25%;
    object-fit: contain;
    bottom: -20px;
    left: -70px;

    width: 8rem;
    height: 8rem;

    z-index: 1;
  }

  .logoImg1 {
    position: relative;
    left: -30px;
    top: -80px;
    width: 83px;
    height: 83px;
    z-index: 2;
  }

  .confirmImg1 {
    position: relative;
    top: -135px;
    left: 340px;
    width: 40px;
    height: 40px;

    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
  }

  .textDone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-top: 20px;
  }

  #textTack {
    width: 266px;
    height: 10px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 18px;

    text-align: center;
    letter-spacing: -0.01px;

    color: #4c983e;
  }

  #textFrom {
    width: 364px;
    height: 60px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;

    text-align: center;

    color: #000000;
  }

  #textStacken {
    width: 364px;
    height: 100px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 18px;

    text-align: center;

    color: #000000;
  }

  .start {
    width: 292px;
    height: 57px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 50px;

    text-align: center;
    letter-spacing: -0.01px;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #4c983e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}
