.startBG {
  position: relative;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(131, 255, 108, 0.2) 100%
    ),
    linear-gradient(180deg, #83ff6c 7.45%, #4c983e 61.19%, #4c983e 80.89%);
  /* border: 1px solid #000000; */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: auto;
  height: auto;
}

.border {
  position: relative;
  width: auto;
  height: 254px;
  /* justify-content: center; */
  top: 100px;

  background: #f6f5f5;
  border-radius: 35px 35px 0px 0px;
}

#vinn {
  position: relative;
  top: 2rem;
  color: #0d6932;

  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  display: flex;
  align-items: center;
  justify-content: center;
}

#text1 {
  margin-top: 3rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #0d6932;
}

.container1 {
  position: relative;

  top: 50px;
  align-items: center;
  justify-content: center;
  width: auto;
  display: flex;
  flex-direction: column;
}

#logoName {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  color: #ffffff;
}

#logga {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.symbolGrid {
  display: flex;
  justify-content: center;
  margin: 3rem;
}

#earth {
  margin: 10px;
  height: 110px;
  width: 110px;
}

#recycle {
  margin: 10px;
  height: 110px;
  width: 110px;
}

#circlecutlery {
  margin: 10px;
  height: 110px;
  width: 110px;
}

a {
  text-decoration: none !important;
  text-decoration-line: none !important;
}

.subText2Class {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}

#subText2 {
  position: relative;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.01px;
  line-height: 50px;
  color: #ffffff;

  width: 292px;
  height: 57px;

  background: #4c983e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

@media screen and (max-width: 895px) {
  .startBG {
    position: relative;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(131, 255, 108, 0.2) 100%
      ),
      linear-gradient(180deg, #83ff6c 7.45%, #4c983e 61.19%, #4c983e 80.89%);
    /* border: 1px solid #000000; */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: auto;
    height: auto;
  }

  .border {
    position: relative;
    width: auto;
    height: 254px;
    /* justify-content: center; */
    top: 100px;

    background: #f6f5f5;
    border-radius: 35px 35px 0px 0px;
  }

  #vinn {
    position: relative;
    top: 2rem;
    color: #0d6932;

    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    align-items: center;
    justify-content: center;
  }

  #text1 {
    margin-top: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #0d6932;
  }

  .container1 {
    position: relative;

    top: 50px;
    align-items: center;
    justify-content: center;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  #logoName {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    color: #ffffff;
  }

  #logga {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .symbolGrid {
    display: flex;
    justify-content: center;
    margin: 3rem;
  }

  #earth {
    margin: 10px;
    height: 110px;
    width: 110px;
  }

  #recycle {
    margin: 10px;
    height: 110px;
    width: 110px;
  }

  #circlecutlery {
    height: 110px;
    width: 110px;
  }

  a {
    text-decoration: none !important;
    text-decoration-line: none !important;
  }

  .subText2Class {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
  }

  #subText2 {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    text-align: center;
    letter-spacing: -0.01px;
    line-height: 50px;
    color: #ffffff;

    width: 292px;
    height: 57px;

    background: #4c983e;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }
}
